services:
  heimdall:
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.heimdall.rule=Host(`${DOMAIN}`)
      - traefik.http.routers.heimdall.entrypoints=websecure
      - traefik.http.routers.heimdall.tls.certresolver=letsencrypt
      - traefik.http.routers.heimdall.service=heimdall-svc
      - traefik.http.services.heimdall.loadbalancer.server.port=80

networks:
  proxy:
    external: true
